<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="paita.stream_app_final">

    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="false" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:required="false" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tafalogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/tafalogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:name=".Tafa.Activities.MpesaActivity"
            android:exported="false" />
        <activity
            android:name=".Tafa.Activities.YourVideos"
            android:exported="false" />
        <activity
            android:name=".Tafa.Activities.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".Tafa.Activities.SubjectPlansActivity"
            android:exported="false" />
        <activity
            android:name=".Tafa.Activities.SubscriptionActivity"
            android:exported="false"
            android:label="@string/title_activity_subscription"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Tafa.Activities.TopicsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Tafa.Activities.FormFourActivity"
            android:exported="false" />
        <activity
            android:name=".Tafa.Activities.FormThreeActivity"
            android:exported="false" />
        <activity
            android:name=".Tafa.Activities.FormTwoActivity"
            android:exported="false" />
        <activity
            android:name=".Tafa.Activities.FormActivity"
            android:exported="false" />
        <activity
            android:name=".Tafa.Activities.VideoViewerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:exported="false" />
        <activity
            android:name=".Tafa.Activities.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.worldstream.co.ke"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tafa.Authentication.LoginActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Tafa.Authentication.SignUpActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Tafa.Launcher.OneLauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>