<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="false" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="false" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Dagger.MyApplication"
        android:allowBackup="false"
        android:icon="@drawable/logonormal"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logonormal"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity
            android:name=".Epoxy.ActivityEpoxy"
            android:exported="false" />
        <activity
            android:name=".ImageViewer.ImageViewActivity"
            android:exported="false" />
        <activity
            android:name=".Managers.ManagedProperties.ManagersPropertiesList"
            android:exported="false" />
        <activity
            android:name=".Receipts.Add.RentReceipt.AddRentReceipt"
            android:exported="false" />
        <activity
            android:name=".Expenses.ViewExpensesActivity"
            android:exported="false" />
        <activity
            android:name=".Receipts.Add.RentReceipt.ListPendingRent"
            android:exported="false" />
        <activity
            android:name=".Property.ListProperties.AddExpensesActivity"
            android:exported="false" />
        <activity
            android:name=".Receipts.Add.OtherReceipt.AddOtherReceiptsActivity"
            android:exported="false" />
        <activity
            android:name=".ToDoList.AddToDoActivity"
            android:exported="false" />
        <activity
            android:name=".ToDoList.ToDoListActivity"
            android:exported="false" />
        <activity
            android:name=".Managers.Add.AddManagerActivity"
            android:exported="false" />
        <activity
            android:name=".Managers.View.ManagersActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Receipts.ReceiptsParentActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Property.ListProperties.PropertyFetchParentActivity"
            android:exported="false" />
        <activity
            android:name=".Property.AddProperty.AddPropertyActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing|stateHidden" />
        <activity
            android:name=".Activities.WelcomeOneActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>